// POSTVIEW - inlægs oversigts siden
#postviewright article, #postviewleft article{
    display: flex;    
    justify-content: space-between;

    div .wp-block-cover {
        display: none !important;
    }

    .divimg{
        width: 50%;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    button{
        //Ændre nyhedsside knappen her
        margin-top: $space-half;
        border: none;
        margin-bottom: $space;
        background-color: $grey2; //FARVE
        color: $white; //FARVE
        padding: 10px 15px;
        border-radius: 3px;
    }

    h2 a, h3 a{
        color: $black; //FARVE

        &:hover{
            color: $black; //FARVE
            text-decoration: none;
        }

        &:visited{
            color: $black; //FARVE
        }
    }

    #post-{
        display: none;
    }
}


#postviewleft article{
    .entry-header{
        width: 50%;
        
        //Vælger alle børn under .entry-header
        &>*{
            @extend .col-left-container;
            padding-right: 47px;
        }

        h2{
            margin-right: 0;
        }

    }

    .divimg{
        margin-right: 0;
    }
}

#postviewright article{
    flex-direction: row-reverse;

    .entry-header{
        width: 50%;

        //Vælger alle børn under .entry-header
        &>*{
            @extend .col-right-container;
            padding-left: 47px;
        }

        h2{
            margin-left: 0;
        } 
    }

    .divimg{
        margin-left: 0;
    }
}


//newsfeed
.newsfeed{
    @extend .container;
    margin-bottom: 0;

    li{
        display: grid;
        margin-bottom: $space;

        &:first-of-type{
            margin-top: $space;
        }

        div:first-of-type{

            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }

        .wp-block-latest-posts__post-excerpt, a{
            padding-left: $space-half;
        }

        a:not(.more-link){
            text-transform: uppercase;
            font-family: $fonttwo;
            font-size: 60px;
            color: $black; //FARVE

            &:visited{
                color: $black; //FARVE
            }

            &:hover{
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 768px){
    .newsfeed{
        li{
            grid-template-columns: 2fr 3fr;
            grid-template-rows: auto 2fr;
    
            div:first-of-type{
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }
}

@media (max-width: 768px){
    .newsfeed{
        li{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
    
            div:first-of-type{
                grid-row-start: 3;
                grid-row-end: 3;
            }

            .wp-block-latest-posts__post-excerpt{
                margin: 0;
            }
        }
    }
}
