$space: 80px;
$space-half: 30px;
$font: 'interstate', Arial, sans-serif;
$fonttwo: 'interstateCompressed', Arial, sans-serif;

$grey: #dfe5e8;
$grey0: #d1d7da;
$grey1: #90999e;
$grey2: #5d6a70;
$grey3: #33434b;

$green: #e7efc1;
$green0: #f2fa7f;
$green1: #b3dc10;
$green2: #6b840a;
$green3: #4a5131;

$blue: #d4e3f4;
$blue0: #b3cde3;
$blue1: #377eb8;
$blue2: #214c6f;
$blue3: #1f3b54;

$magenta: #f9cbdf;
$magenta0: #f99bcc;
$magenta1: #c6007b;
$magenta2: #9e007d;
$magenta3: #69187f;

$red: #fcd8d4;
$red0: #f4b1bb;
$red1: #c60018;
$red2: #9b0011;
$red3: #620000;

$sun:#fff4bf;
$sun0:#ffe77f;
$sun1:#ffd600;
$sun2:#f9a900;
$sun3:#f97f0a;

$creame: #f6f5ed;
$black: black;
$white: white;