@import 'underscore.scss';
@import '../bootstrap/scss/bootstrap.scss';

//Basis partials 
@import 'fonts.scss';
@import 'variabler.scss';

//Basic style
body{
    font-family: $font;
    font-weight: lighter;
    font-size: 1rem;
}

h1,h2{
    font-family: $fonttwo;
}

h1{
    text-transform: uppercase;
    font-size: 72px;
}

h2{
    text-transform: uppercase;
    margin-top: $space;
    margin-bottom: $space-half;
    font-size: 60px;

    &:not(.top-space){
        @extend .container;
    }
}

h3{
    font-family: $font;
    font-size: 1.375rem;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
}

.post, .page{
    margin-bottom: 0;
}

.page-content, .entry-content, .entry-summary{
    margin:0;
}

iframe{
    margin-bottom: $space;
}

//"alm" partials
@import 'menu.scss';
@import 'footer.scss';
@import 'postview.scss';
@import 'singlepostpage.scss';
@import 'knap-links.scss';
@import 'usp.scss';
@import 'form.scss';


//Diverse kode

//Indhold på omslags komponent
.wp-block-cover__inner-container{
    @extend .container;
    padding: 0;
}

//Tekst element
.wp-block-columns.has-background{
    padding: $space 0;
}

//parallax
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Informations boks - tekst
.col-left-container{
    padding-right: $space-half;
    padding-left: 15px;
    margin-left: auto;
}

.col-right-container{
    padding-right: 15px;
    padding-left: $space-half;
    margin-right: auto;
}

.left-kolonnen{
    &>*{
        @extend .col-left-container;
    }
}

.right-kolonnen{
    &>*{
        @extend .col-right-container;
    }
}

.reversedirection {
    flex-direction: column-reverse;
}

.top-space{
    margin-top: $space;
}

.bottom-space{
    margin-bottom: $space;
}

//Informations boks - billede
.wp-block-columns{
    margin-bottom: 0;
    
    .wp-block-image, .wp-block-video{
        margin-bottom: 0;
    }

    figure{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//gallery
.modal-content {
    background-color: transparent; //FARVE
}

//kort
#srm_gmp_embed_1{
    margin: 0 !important;
}

// MEDIA 
@media (min-width: 600px){
    .reversedirection{
        flex-direction: row;
    }
}

@media (min-width: 768px){
    //COLLONNE KOMPONENTET
    .col-left-container, .col-right-container{
        max-width: 360px;
    }
}

@media (min-width: 782px){
    .wp-block-column:not(:first-child) {
        margin-left: 0px; 
    }
}

@media (min-width: 992px){
    //COLLONNE KOMPONENTET
    .col-left-container, .col-right-container{
        max-width: 480px;
    }
}

@media (min-width: 1200px){
    //COLLONNE KOMPONENTET
    .col-left-container, .col-right-container{
        max-width: 570px;
    }
}

@media (max-width: 576px){
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 30px;
    }
}

@media (max-width: 599px){
    .col-left-container, .col-right-container{
        padding: 0 15px;
    }
}